:root {
  --bg: #c0c0c0;
  --border-light: #ffffff;
  --border-dark: #808080;
  --outline: #000000;
  --disabled-text: #808080;
  --disabled-text-shadow: #ffffff;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

.cs-btn {
  background-color: var(--bg);
  color: #fff;
  padding: 4px 5px 3px;
  font-size: 16px;
  line-height: 15px;
  border: 1px solid;
  border-color: var(--border-light) var(--border-dark) var(--border-dark)
    var(--border-light);
  user-select: none;
  cursor: pointer;
}

.cs-btn.close {
  padding: 0px;
  width: 18px;
  height: 18px;
  background: no-repeat center center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath d='M3,3 4,3 4,4 3,4 M4,3 5,3 5,4 4,4 M3,4 4,4 4,5 3,5 M4,4 5,4 5,5 4,5 M4,5 5,5 5,6 4,6 M5,5 6,5 6,6 5,6 M5,4 6,4 6,5 5,5 M5,6 6,6 6,7 5,7 M6,6 7,6 7,7 6,7 M6,5 7,5 7,6 6,6 M6,7 7,7 7,8 6,8 M6,8 7,8 7,9 6,9 M7,8 8,8 8,9 7,9 M7,7 8,7 8,8 7,8 M7,6 8,6 8,7 7,7 M8,6 9,6 9,7 8,7 M8,7 9,7 9,8 8,8 M8,8 9,8 9,9 8,9 M8,5 9,5 9,6 8,6 M9,5 10,5 10,6 9,6 M9,6 10,6 10,7 9,7 M9,4 10,4 10,5 9,5 M10,4 11,4 11,5 10,5 M10,5 11,5 11,6 10,6 M10,3 11,3 11,4 10,4 M11,3 12,3 12,4 11,4 M11,4 12,4 12,5 11,5 M9,8 10,8 10,9 9,9 M9,9 10,9 10,10 9,10 M8,9 9,9 9,10 8,10 M10,9 11,9 11,10 10,10 M10,10 11,10 11,11 10,11 M9,10 10,10 10,11 9,11 M11,10 12,10 12,11 11,11 M11,11 12,11 12,12 11,12 M10,11 11,11 11,12 10,12 M5,8 6,8 6,9 5,9 M5,9 6,9 6,10 5,10 M6,9 7,9 7,10 6,10 M4,9 5,9 5,10 4,10 M4,10 5,10 5,11 4,11 M5,10 6,10 6,11 5,11 M3,10 4,10 4,11 3,11 M3,11 4,11 4,12 3,12 M4,11 5,11 5,12 4,12 ' fill='%238c9284'/%3E%3C/svg%3E");
}

.cs-btn:focus-visible {
  padding: 3px 4px 2px;
  outline: 1px solid var(--outline);
}

.cs-btn.close:focus-visible {
  padding: 0;
  outline: 0;
}

.cs-btn:active {
  border-color: var(--border-dark) var(--border-light) var(--border-light)
    var(--border-dark);
}

.cs-btn:disabled {
  color: var(--disabled-text);
  text-shadow: var(--disabled-text-shadow) 1px 1px;
  pointer-events: none;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 10s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
